* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.alert {
    margin: auto;
    width: 35%;
    margin-top: 50px;
    Border-radius: 10px;
}

.nav-item {
    padding: 17px;
    font-weight: 500px;
    color: #011627;
}

.nav-item:hover {
    transition: 0.4s;
    color: #F64740;
}

.btn {
    margin: 2px 10px;
}
